<GerarNfseEnvio>
  <Rps>
    <InfDeclaracaoPrestacaoServico id="270501668">
      <Rps id="130508547">
        <IdentificacaoRps>
          <Numero>14565</Numero>
          <Serie>A</Serie>
          <Tipo>1</Tipo>
        </IdentificacaoRps>
        <DataEmissao>2021-06-01</DataEmissao>
        <Status>N</Status>
        <RpsSubstituido>
          <Numero>1</Numero>
          <Serie>1</Serie>
          <Tipo>1</Tipo>
        </RpsSubstituido>
      </Rps>
      <Competencia>2015-01-06T16:55:50-03:00</Competencia>
      <Servico>
        <Valores>
          <ValorServicos>99.00</ValorServicos>
          <ValorDeducoes>0</ValorDeducoes>
          <ValorPis>0.00</ValorPis>
          <ValorCofins>0.00</ValorCofins>
          <ValorInss>0</ValorInss>
          <ValorIr>0.25</ValorIr>
          <ValorCsll>0.01</ValorCsll>
          <OutrasRetencoes>0.00</OutrasRetencoes>
          <ValTotTributos>0</ValTotTributos>
          <ValorIss>4.95</ValorIss>
          <Aliquota>3.0</Aliquota>
          <DescontoIncondicionado>0.00</DescontoIncondicionado>
          <DescontoCondicionado>0.00</DescontoCondicionado>
        </Valores>
        <IssRetido>false</IssRetido>
        <ResponsavelRetencao>1</ResponsavelRetencao>
        <ItemListaServico>01.01</ItemListaServico>
        <CodigoCnae>9313100</CodigoCnae>
        <CodigoTributacaoMunicipio>06.04</CodigoTributacaoMunicipio>
        <CodigoNbs>931310000</CodigoNbs>
        <Discriminacao>AULAS DE GINASTICA E AFINS. VALOR APROXIMADO DOS TRIBUTOS: R$14.11 (CONFORME LEI FED. 12741/2012) -</Discriminacao>
        <CodigoMunicipio>3305109</CodigoMunicipio>
        <CodigoPais>2373</CodigoPais>
        <ExigibilidadeISS>1</ExigibilidadeISS>
        <MunicipioIncidencia>4101804</MunicipioIncidencia>
      </Servico>
      <Prestador>
        <CpfCnpj>
          <Cnpj>59291534000167</Cnpj>
        </CpfCnpj>
        <InscricaoMunicipal>113532</InscricaoMunicipal>
      </Prestador>
      <TomadorServico>
        <IdentificacaoTomador>
          <CpfCnpj>
            <Cpf>01871750474</Cpf>
          </CpfCnpj>
        </IdentificacaoTomador>
        <RazaoSocial>ALEXANDRE D PASSOS</RazaoSocial>
        <Endereco>
          <Endereco>RUA LUIS CAVANA</Endereco>
          <Numero>160</Numero>
          <Complemento>N/A</Complemento>
          <Bairro>CENTRO</Bairro>
          <CodigoMunicipio>3548807</CodigoMunicipio>
          <Uf>SP</Uf>
          <Cep>09521110</Cep>
        </Endereco>
        <EnderecoExterior>
          <CodigoPais>2373</CodigoPais>
          <EnderecoCompletoExterior>RUA LUIS CAVANA</EnderecoCompletoExterior>
        </EnderecoExterior>
        <Contato>
          <Email>renato.santos@synchro.com.br</Email>
          <Email>renato.santos@synchro.com.br</Email>
        </Contato>
      </TomadorServico>
      <Intermediario>
        <IdentificacaoIntermediario>
          <CpfCnpj>
            <Cpf>06913829485</Cpf>
          </CpfCnpj>
          <InscricaoMunicipal>2408102</InscricaoMunicipal>
        </IdentificacaoIntermediario>
        <RazaoSocial>Euthalia</RazaoSocial>
      </Intermediario>
      <RegimeEspecialTributacao>3</RegimeEspecialTributacao>
      <OptanteSimplesNacional>2</OptanteSimplesNacional>
      <IncentivoFiscal>2</IncentivoFiscal>
      <InformacoesComplementares>Valor aproximado de tributos: Federal 13,45% Estadual 0,00% Municipal 2,64 % = 16,09% Fonte: IBPT Ar5Fr7 16.2.A</InformacoesComplementares>
    </InfDeclaracaoPrestacaoServico>
  </Rps>
</GerarNfseEnvio>

